// reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 26px;
    color: #000;
}

html, body{
    height: 100%;
    background: #ccc;
}

a{
    color: #000;
    text-decoration: none;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul,
ol,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

p, span{
    padding: 0;
    margin: 0;
}

//

.wrap{
    max-width: 1040px;
    background: #ccc;

    padding: 50px 0;
    margin: 0 auto;

    .accordion-section{
        display: flex;
        flex-direction: column;
        justify-content: center;

        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

        padding: 20px;
        margin-bottom: 20px;

        .accordion-header,
        .accordion-content{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .accordion-header{
            align-items: center;
            cursor: pointer;
            img{
                border: 2px solid #000;
                border-radius: 50%;

                padding: 5px;

                cursor: pointer;
            }

            .arrow{
                width: 28px;
                height: 28px;
                border: 2px solid #000;
                border-radius: 50%;

                cursor: pointer;
            }

            .arrow-forward{
                &::after{
                    content: url(../img/arrow_forward_black_24dp.svg);
                }
            }
            .arrow-downward{
                &::after{
                    content: url(../img/arrow_downward_black_24dp.svg);
                }
            }
        }

        .accordion-content{
            overflow: hidden;
            transition: max-height 3s;

            background: #ccc;
            border-radius: 5px;
            border: 2px solid rgba(90, 90, 90, .75);

            padding: 30px;
            margin-top: 20px;

            .accordion-avatar{
                display: flex;
                align-items: center;
                justify-content: center;

                min-width: 200px;

                background: #ccc;
                border-radius: 5px;
                border: 2px solid rgba(90, 90, 90, .75);
            }

            .accordion-data{
                .data-profile:not(:first-child){
                    margin-top: 20px;
                }
            }
        }

        .hide{
            display: none
        }
        
        .show{
            display: flex;
        }

        .accordion-header,
        .data-profile{
            background: #ccc;
            border-radius: 5px;
            border: 2px solid rgba(90, 90, 90, .75);

            padding: 10px 20px;
        }
    }
}