.table{
    font-size: 24px;
    border: 1px solid;

    th, td{
        border: 1px solid;
        padding: 10px;
    }
}

.first-name{
    cursor: pointer;
}

.color{
    background: rgb(170, 228, 229);
}

.colorless{
    background: rgb#ffffff;
}